body {
  margin: 0;
  background-color: rgb(109, 108, 108);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* APP */

.app-container {
  background-color: rgb(211, 209, 209);
  width: 50vw;
  min-height:100vh;
  margin: auto;
}

/* HEADER */

#header-container {
  display: flex;
  justify-content: space-between;
  min-height: 9vh;
  padding: 1%;
}
#header-subcontainer {
  display: flex;

}
#header-title {
  margin: 0;
  width: 15vw;
}
.header-buttons {
  color: rgb(72, 247, 247);
  font-weight: 600;
  width: 11vw;
  height: 4vh;
  border: none;
  margin: .2%;
  background-color: rgb(42, 42, 42);
}
.header-buttons:hover {
  background-color: rgb(20, 20, 20);
}

/* ADDPOST */
#add-post-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 1;
}
#add-post-subcontainer {
  position: relative;
  text-align: center;
  top: 7vh;
  width: 50vw;
  min-height: 89vh;
  background-color: gray;
  padding: .1%;
  margin: auto;
}
#add-post-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 3vw;
  height: 3vh;
  border: none;
  outline: none;
  background-color: red;
}
#add-post-close:hover {
  background-color: rgb(126, 2, 2);
}
#add-post-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.add-post-inner {
  text-align: center;
  word-break: break-all;
  color: rgb(72, 247, 247);
  width: 98%;
  min-height: 2vh;
  padding: 1%;
  background-color: rgb(61, 61, 61);
  box-shadow: 0 0 8px 2px rgb(31, 30, 30) inset;
  border: none;
  outline: none;
}
#add-post-priority {
  width: 15%;
}
#add-post-post {
  resize: none;
  min-height: 50vh;
  text-align: left;
}
#add-post-submit {
  font-size: 1rem;
  color: rgb(72, 247, 247);
  height: 4vh;
  margin-top: 1vh;
  background-color: rgb(42, 42, 42);
  border: none;
}
#add-post-submit:hover {
  background-color: rgb(20, 20, 20);
}
/* MAIN */

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}
.main-items {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 2vh;
  padding: 1vh 0;
  margin-bottom: 1vh;
  background-color: rgb(180, 180, 180);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}
.main-items > h4 {
  margin: 0;
}
.main-priority {
  position: absolute;
  left: .5vw;
  top: .5vh;
  font-size: 1.1rem;
  font-weight: 600;
}
.main-date-container {
  position: absolute;
  right: .2vw;
  top: .2vh;
  display: flex;
  flex-direction: column;
}
.main-date-h6 {
  display: inline-block;
  margin: 0;
}
.main-button {
  color: rgb(72, 247, 247);
  font-weight: 600;
  min-width: 8vw;
  height: 3vh;
  margin-top: 1vh;
  background-color: rgb(42, 42, 42);
  border: none;
}
.main-button:hover {
  background-color: rgb(20, 20, 20);
}
